---
import '../styles/global.css';
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>DPNC UMS // Coming Soon</title>
		<meta
			name="description"
			content="Debat Piala Naib Canselor UMS - Pertandingan debat paling dinanti di kalangan mahasiswa UMS. Coming Soon."
		/>
	</head>
	<body>
		<slot />
	</body>
</html>
